* {
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  color: #212121;
  background-color: #fafafa;
  margin: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 24px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 36px;
}

.gallery li {
  overflow: hidden;
  width: 360px;
  height: 200px;
  border-radius: 4px;
}

.gallery li:hover {
  transform: scale(1.02);
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
